<p id="notice"><%= notice %></p>

<h1>Makes</h1>

<% if @makes.length != 0 %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @makes.each do |make| %>
      <tr>
        <td><%= make.name %></td>
        <td><%= make.country %></td>
        <td><%= link_to 'View More', make %></td>
        <td><%= link_to 'Edit', edit_make_path(make) %></td>
        <td><%= link_to 'Trash', make, method: :delete, data: { confirm: 'Are you sure? Will delete any cars with this make' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'New Make', new_make_path %>
