<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @makes.length == 0 %>
    <strong>You will need to create a <%= link_to 'make', new_make_path %> first</strong>
  <% else %>

  <div class="field">
    <%= form.label 'Name your car:'%>
    <%= form.text_field :name, :required => true %>
  </div>

  <div class="field">
    <%= form.label 'Choose a make:' %>
    <%= form.collection_select( :make_id, @makes , :id, :name) %>
  </div>

  <div class="field">
    <%= form.label 'Model:' %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label 'Enter your vin:' %>
    <%= form.number_field :vin, :required => true %>
  </div>
    <% if @parts.length != 0 %>
      <div class="field">
        <%= form.label 'Choose your car parts:' %>
        <%= form.collection_check_boxes( :part_ids, @parts, :id, :name) %>
      </div>
      <% else %>
      <p>Create some <%= link_to 'parts', new_part_path %> for your car</p>
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
<% end %>
