<!DOCTYPE html>
<html>
  <head>
    <title>Carfactory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Makes', makes_path %>
  <%= link_to 'Parts', parts_path %>
  <%= link_to 'Cars', cars_path %>
  <% if user_signed_in? %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>    
  <% end %>

  <p class="alert"><%= alert %></p>

  <body>
    <%= yield %>
  </body>
</html>
